    <!--              css               -->
    <link rel="stylesheet" href="/static/css/groupin.css"> 
    <script type="module" src="/static/js/index.js"></script>


    <div class="groupinContainer">
        <div class="outBox"></div>

        <div class="box">
            <div class="topLine">
                <div class="text">그룹 참여</div>
                <img class="closeBtn" src="/static/image/close_btn.svg">
            </div>
            <div class="explainTitle">이미 생성된 그룹에 참여하세요.</div>
            
            <form class="formClass" method="post" action="http://127.0.0.1:8000/" id="loginForm">
                <label for="code" class="codeInput code">그룹 초대코드</label><input class="postForm" type="text" id="code" name="code" placeholder="코드를 입력하세요.">
                <label for="codePw" class="codeInput codePw">그룹 비밀번호</label><input  class="postForm" type="password"id="codePw" name="codePw" placeholder="그룹 비밀번호를 입력하세요.">
                <input class="submit" type="submit" value="참여">
            </form>

        
        </div>
    </div>

