    <!--              css               -->
    <link rel="stylesheet" href="/static/css/menu.css"> 


    <div class="menuContainer">
        <div class="menuBox"></div>

        <div class="boxmenu">
            <div class="topLine">
                <div class="text">(ง •̀ω•́)ง✧</div>
                <img class="closeBtn" src="/static/image/close_btn.svg">
            </div>
            
            <div class="menus">
                <div class="main menuIndi">
                    <div class="menusText">메인화면</div>
                    <img class="menusBtn" src="/static/image/go_btn.svg">
                </div>
                <div class="mypage menuIndi">
                    <div class="menusText">마이페이지</div>
                    <img class="menusBtn" src="/static/image/go_btn.svg">
                </div>
                <div class="bug menuIndi">
                    <div class="menusText">버그 제보 / 문의</div>
                    <img class="menusBtn" src="/static/image/go_btn.svg">
                </div>
                <div class="settings menuIndi">
                    <div class="menusText">설정</div>
                    <img class="menusBtn" src="/static/image/go_btn.svg">
                </div>
        </div>
    </div>

